# dependencies
node_modules/

# production
dist/

# local env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
Thumbs.db

# editor/ide
.vscode/
.idea/

# typescript
*.tsbuildinfo

# coverage
coverage/
